# SQL Cheatsheet

- A database is a repository of data that provides functionality for adding, modifying, and querying the data. 
- SQL is a language used to query or retrieve data from a relational database. 
- The Relational Model is the most used data model for databases because it allows for data independence. 
- The primary key of a relational table uniquely identifies each tuple or row, preventing duplication of data and providing a way of defining relationships between tables. 
- SQL statements fall into two different categories: Data Definition Language (DDL) statements and Data Manipulation Language (DML) statements.

**The following are DML (Data Manipulation Languange) statements**

## SELECT

The SELECT statement is used to select data from a database.

```SQL
SELECT column1, column2, ...
FROM table_name
WHERE condition
;
```

**What do the keywords / clauses of a SQL statement shown above do?**

- FROM: Specifies from which table to get the data. The clause can include optional JOIN subclauses to specify the rules for joining tables.
- [Optional Clause] WHERE : Specifies which rows to retrieve.

### COUNT

Retrieve the number of rows from the table_name.

```SQL
SELECT COUNT(*) FROM table_name;
```

### DISTINCT

Retrieve the name of all films without any repeated values.

```SQL
SELECT DISTINCT column FROM table_name;

```

### LIMIT

Retrieve the first 25 rows from the table.

```SQL
SELECT * FROM table_name LIMIT 25;
```

### Sub-queries and Nested SELECTs

```SQL
SELECT column_name [, column_name ]
FROM table1 [, table2 ]
WHERE column_name OPERATOR
   (SELECT column_name [, column_name ]
   FROM table1 [, table2 ]
   WHERE condition);
```

### Implicit version of CROSS JOIN (also known as Cartesian Join)

```SQL
SELECT column_name(s)
FROM table1, table2;
```

### Implicit version of INNER JOIN statement

```SQL
SELECT column_name(s)
FROM table1, table2
WHERE table1.column_name = table2.column_name;
```

## INSERT

The INSERT statement is used to insert new rows into a table.

```SQL
INSERT INTO table_name (column1, column2, ... )
VALUES (value1, value2, ... )
;
```

## UPDATE

The UPDATE statement is used to update the data in existing rows in the table.

```SQL
UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition
;
```

## DELETE

The DELETE statement is used to remove rows from a table.

```SQL
DELETE FROM table_name
WHERE condition
;
```

**The following are DDL (Data Defintion Language) Statements**

## CREATE

The CREATE statement is used to create a new table in a database.

```SQL
CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
   ....
);
```

## ALTER

The ALTER statement is used to add, delete, or modify columns in an existing table.

```SQL
ALTER TABLE table_name
ADD COLUMN column_name data_type column_constraint;

ALTER TABLE table_name
DROP COLUMN column_name;

ALTER TABLE table_name
ALTER COLUMN column_name SET DATA TYPE data_type;

ALTER TABLE table_name
RENAME COLUMN current_column_name TO new_column_name;
```

## TRUNCATE

The TRUNCATE statement is used to remove all rows from an existing table without deleting the table itself.

```SQL
TRUNCATE TABLE table_name;
```

## DROP

The DROP statement is used to delete an existing table in a database.

```SQL
DROP TABLE table_name;
```